div.name-tag {
  margin: 5px 0;
}

div.move-indicator {
  height: 16px;
  width: 16px;

  float: left;
  margin-right: 5px;

  border-radius: 50%;
  background-color: #4e0f0f;
}

div.move-indicator.on {
  background-color: #b80000;
}

div.board {
  width: 100%;

  div.rank:nth-child(odd) div.square:nth-child(even),
  div.rank:nth-child(even) div.square:nth-child(odd) {
    background: #3D945B;
  }

  div.square {
    float: left;

    width: 3.5vw;
    height: 3.5vw;

    padding: 0;

    line-height: 1;

    div {
      padding: 5.5% 0 0 7.5%;
    }
  }
}
