div.chat-wrapper {
  position: absolute;

  top: 5px;
  bottom: 0px;
  right: 30px; /* bootstrap */
  left: 30px;  /* gutters */

  div.chat-content {
    height: 100%;

    div.messages {
      top: 45px;

      left: 30px;
      right: 30px;
    }
  }
}
