div.header {
  height: 60px;
  width: 100%;
}

div.content {
  position: absolute;

  top: 60px;
  bottom: 0px;

  div.tab-pane {
    position: absolute;

    top: 45px;
    bottom: 0px;
    right: 15px;
    left: 15px;
  }
}
