div.messages {
  position: absolute;

  top: 0px;
  bottom: 80px;
  width: 100%;

  overflow-y: scroll;
}

div.message {
  position: absolute;
  bottom: 0px;

  height: 75px;
  width: 100%;

  textarea {
    width: 100%;
  }
}

