div.observe {
  position: absolute;

  top: 45px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  div.board-container {
    float: left;
    width: 400px;
  }

  div.moves, div.observers {
    overflow-y: auto;
    height: 100%;
  }

  div.chat {
    height: 100%;
  }
}
