div.chat-nav {
  position: absolute;

  left: 0px;
  bottom: 0px;
  width: 360px;
}

div.chat-content {
  position: absolute;

  left: 360px;
  right: 0px;
  bottom: 0px;

  div.messages {
    position: absolute;

    top: 50px;
    left: 0px;
    bottom: 80px;
    right: 0px;

    overflow-y: scroll;
  }

  div.message {
    position: absolute;

    bottom: 0px;
    height: 75px;

    textarea {
      width: 300px;
    }
  }
}
