.chat-nav {
  position: absolute;

  top: 40px;
  left: 0px;
  bottom: 0px;

  width: 355px;
}

div.chat-content {
  position: absolute;

  left: 360px;
  right: 0px;
  bottom: 0px;

  div.messagesWrapper {
    position: absolute;

    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}
