div.chat-nav {
  position: absolute;

  left: 0px;
  bottom: 0px;
  width: 450px;
}

div.chat-content {
  position: absolute;

  left:450px;
  right: 0px;
  bottom: 0px;

  div.messages {
    position: absolute;

    top: 50px;
    bottom: 45px;
    right: 0px;
  }

  div.message {
    position: absolute;

    bottom: 0px;
    height: 80px;

    textarea {
      width: 300px;
    }
  }
}
