.header {
  height: 60px;
  width: 100%;
}

.content {
  position: fixed;

  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 45px;
}

.observation-chat {
  .observers {
    overflow-y: scroll;

    width: 30%;
    float: left;
  }

  .messages {
    width: 70%;
    float: left;

    .message {
      textarea {
        width: 300px;
      }
    }
  }
}

.console {
  height: 100%;
  overflow-y: scroll;
}
