// angular-ui-bootstrap links
.nav, .pagination, .carousel a {
  cursor: pointer;
}

div.header {
  height: 60px;
  width: 100%;
}

div.tab-container div.tab-container {
  top: 40px;
}

div.content {
  position: absolute;

  top: 60px;
  bottom: 0px;

  left: 0px;
  right: 0px;
}

pre.console {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
