// angular-ui-bootstrap links
.nav, .pagination, .carousel a {
  cursor: pointer;
}

div.header {
  height: 60px;
  width: 100%;
}

div.tab-container {
  position: absolute;
  bottom: 0px;
}

div.tab-container div.tab-container {
  top: 40px;
}

div.content {
  position: absolute;

  top: 60px;

  left: 0px;
  right: 0px;
}

div.chat-nav {
  float: left;

  left: 0px;
  width: 35%;
}

div.chat-content {
  float: left;

  left: 35%;
  right: 0px;
}

div.board-container {
  float: left;
  width: 400px;
}

div.observe-moves {
  position: absolute;

  top: 40px;
  left: 400px;
  bottom: 0px;

  width: 140px;

  overflow-y: auto;
}

div.observe-chat {
  position: absolute;

  top: 40px;
  left: 540px;
  right: 0px;
  bottom: 0px;

  div {
    position: absolute;
  }

  div.observers {
    width: 200px;
    overflow-y: auto;
  }

  div.messages {
    left: 200px;
    right: 0px;

    div.message {
      textarea {
        width: 300px;
      }
    }
  }
}

.console {
  height: 100%;
  overflow-y: auto;
}
