div.observe {
  position: absolute;

  top: 85px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  div.board-container {
    float: left;
    width: 400px;
  }

  div.moves {
    position: absolute;

    top: 40px;
    left: 400px;
    bottom: 0px;

    width: 140px;

    overflow-y: auto;
  }

  div.chat {
    position: absolute;

    top: 40px;
    left: 540px;
    right: 0px;
    bottom: 0px;

    div.observers {
      position: absolute;

      top: 0px;
      width: 200px;
      bottom: 80px;

      overflow-y: scroll;
    }

    div.messages {
      position: absolute;

      top: 0px;
      bottom: 80px;

      left: 200px;
      right: 0px;

      overflow-y: scroll;
    }

    div.message {
      position: absolute;

      bottom: 0px;
      height: 75px;

      left: 200px;
      right: 0px;

      textarea {
        width: 300px;
      }
    }
  }
}
