<tab ng-controller="ChatCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    chat
  </tab-heading>

  <div style="width: 35%; float: left">
    <accordion>
      <accordion-group>
        <accordion-heading>
          channels
        </accordion-heading>
        <ul>
          <li ng-repeat="channel in channels() | orderByNumberString:'number'">
            {{channel.number}} {{channel.name}}
          </li>
        </ul>
      </accordion-group>

      <accordion-group>
        <accordion-heading>
          users
        </accordion-heading>
        <pagination class="pagination-small" total-items="users().length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
        <ul ng-if="users()">
          <li ng-repeat="user in users() | orderBy:'name' | paginationSubset:20:currentPage">
            {{user.name}} ({{user.rating}})
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </div>

  <div style="width: 65%; float: left">
    <tabset>
     <tab ng-repeat="channelNumber in subscribedChannels()" ng-if="channels()">
       <tab-heading>
         {{channelName(channelNumber)}}
       </tab-heading>
       <pre></pre>
     </tab>
    </tabset>
  </div>
</tab>
