<tab ng-controller="ChatCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    chat
  </tab-heading>
  <tabset>
    <tab>
      <tab-heading>
        users
      </tab-heading>
      <ul>
        <li ng-repeat="user in users() | orderBy:'name'">
          {{user.name}} ({{user.rating}})
        </li>
      </ul>
    </tab>
    <tab>
      <tab-heading>
        channels
      </tab-heading>
      <ul>
        <li ng-repeat="channel in channels() | orderByNumberString:'number'">
          {{channel.number}} {{channel.name}}
        </li>
      </ul>
    </tab>

    <tab ng-repeat="channelNumber in subscribedChannels()" ng-if="channels()">
      <tab-heading>
        {{channelName(channelNumber)}}
      </tab-heading>
      <pre></pre>
    </tab>
  </tabset>
</tab>
