<tab ng-controller="ChatCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    chat
  </tab-heading>
  <tabset>
    <tab>
      <tab-heading>
        users
      </tab-heading>
      <pagination class="pagination-small" total-items="users().length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
      <ul ng-if="users()">
        <li ng-repeat="user in users() | orderBy:'name' | paginationSubset:20:currentPage">
          {{user.name}} ({{user.rating}})
        </li>
      </ul>
    </tab>
    <tab>
      <tab-heading>
        channels
      </tab-heading>
      <ul>
        <li ng-repeat="channel in channels() | orderByNumberString:'number'">
          {{channel.number}} {{channel.name}}
        </li>
      </ul>
    </tab>

    <tab ng-repeat="channelNumber in subscribedChannels()" ng-if="channels()">
      <tab-heading>
        {{channelName(channelNumber)}}
      </tab-heading>
      <pre></pre>
    </tab>
  </tabset>
</tab>
