<tab ng-controller="LoginCtrl" ng-hide="isLoggedIn()">
  <tab-heading>
    log in
  </tab-heading>
  <input type="button" value="login as guest" ng-click="loginAsGuest()" />

  <div>- or -</div>

  <form ng-submit="loginWithCredentials(userData)">
    <input type="text" ng-model="userData.login" placeholder="login" />
    <br>
    <input type="password" ng-model="userData.password" placeholder="password" />
    <br>
    <input type="submit" value="login with credentials" />
  </form>
</tab>
