<tab ng-controller="ObservationCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    watch
  </tab-heading>
  <tabset>
    <tab>
      <tab-heading>
        games
      </tab-heading>
      <pagination class="pagination-small" total-items="games().length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
      <ul ng-if="games()">
        <li ng-repeat="game in games() | orderByCombinedRating | paginationSubset:20:currentPage">
          <a href="#" ng-click="watch(game.number)">
            {{game.white.name}} ({{game.white.rating}}) vs. {{game.black.name}} ({{game.black.rating}})
          </a>
        </li>
      </ul>
    </tab>

    <tab ng-repeat="game in observations()">
      <tab-heading>
        {{game.white.name}} v. {{game.black.name}}
        <a href="#" ng-click="stopWatching(game.number)">x</a>
      </tab-heading>

      <board fen="game.metaData.position" white="game.white" black="game.black" move="game.metaData.currentMove"></board>
    </tab>
  </tabset>
</tab>
