<tab ng-controller="ObservationCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    watch
  </tab-heading>
  <tabset>
    <tab>
      <tab-heading>
        games
      </tab-heading>
      <ul>
        <li ng-repeat="game in games() | orderByCombinedRating">
          <a href="#" ng-click="watch(game.number)">
            {{game.white.name}} ({{game.white.rating}}) vs. {{game.black.name}} ({{game.black.rating}})
          </a>
        </li>
      </ul>
    </tab>

    <tab ng-repeat="game in observations()">
      <tab-heading>
        {{game.white.name}} v. {{game.black.name}}
        <a href="#" ng-click="stopWatching(game.number)">x</a>
      </tab-heading>
      <div>
        {{game.metaData.position}}
      </div>
      <div>
        {{game.metaData.currentMove}}
      </div>
    </tab>
  </tabset>
</tab>
