<tab ng-controller="ObservationCtrl" ng-show="isLoggedIn()">
  <tab-heading>
    watch
  </tab-heading>
  <tabset>
    <tab>
      <tab-heading>
        games
      </tab-heading>
      <pagination class="pagination-small" total-items="games().length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
      <ul ng-if="games()">
        <li ng-repeat="game in games() | orderByCombinedRating | paginationSubset:20:currentPage">
          <a href="#" ng-click="watch(game.number)">
            {{game.white.name}} ({{game.white.rating}}) vs. {{game.black.name}} ({{game.black.rating}})
          </a>
        </li>
      </ul>
    </tab>

    <tab ng-repeat="game in observations()">
      <tab-heading>
        {{game.white.name}} v. {{game.black.name}}
        <a href="#" ng-click="stopWatching(game.number)">x</a>
      </tab-heading>

      <div style="width: 30%; float: left">
        <board fen="game.metaData.position" white="game.white" black="game.black" move="game.metaData.currentMove"></board>
      </div>

      <div style="width: 70%; float: left">
        <accordion>
          <accordion-group>
            <accordion-heading>
              moves
            </accordion-heading>
            <table>
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>{{game.white.name}}</th>
                  <th>{{game.black.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="moves in game.moves" ng-if="game.moves">
                  <th>{{$index + 1}}</th>
                  <td>{{moves[0]}}</td>
                  <td>{{moves[1]}}</td>
                </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>
      </div>
    </tab>
  </tabset>
</tab>
