<div class="name-tag">
  <div class="move-indicator" ng-class="{ on: (move === 'B') }">&nbsp;</div>
  {{ black.name }} ({{ black.rating }})
  <timer start="time.black" tick="move === 'B' && !complete"></timer>
</div>

<div class="board">
  <div class="rank" ng-repeat="rank in boardState">
    <div class="square" ng-repeat="piece in rank track by $index" scale-text>
      {{ ascii2unicode(piece) }}
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<div class="name-tag">
  <div class="move-indicator" ng-class="{ on: (move === 'W') }">&nbsp;</div>
  {{ white.name }} ({{ white.rating }})
  <timer start="time.white" tick="move === 'W' && !complete"></timer>
</div>
