<tab ng-controller="AboutCtrl" heading="about" active="tabs.about.active">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>
          This interface for the Free Internet Chess Server is written an maintained
          by <a href="https://sonnym.github.io/" target="_blank">Sonny Michaud</a>. It
          is free, open source software. The source code is available on
          <a href="https://github.com/sonnym/fics_web_interface" target="_blank">github</a>.
        </p>

        <p>
          Please report any bugs you encounter or feature requests on
          <a href="https://github.com/sonnym/fics_web_interface/issues" target="_blank">
            the issue tracker
          </a>.
        </p>

        <p>
          There are currently {{ serverData.userCount || 0 }} people connected to FICS via this interface.
        </p>
      </div>
    </div>
  </div>
</tab>
