<tab ng-controller="ChatCtrl" ng-show="isLoggedIn">
  <tab-heading>
    chat
  </tab-heading>

  <div style="width: 35%; float: left">
    <tabset vertical="true" type="'pills'">
      <tab>
        <tab-heading>
          channels
        </tab-heading>
        <pagination class="pagination-sm" total-items="channels.length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
        <ul class="channel-list">
          <li ng-repeat="channel in channels | orderByNumberString:'number' | paginationSubset:20:currentPage">
            <a href="#" ng-click="joinChannel(channel.number)">
              {{channel.number}} {{channel.name}}
            </a>
          </li>
        </ul>
      </tab>

      <tab>
        <tab-heading>
          users
        </tab-heading>
        <pagination class="pagination-sm" total-items="users.length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>
        <ul ng-if="users" class="user-list">
          <li ng-repeat="user in users | orderBy:'name' | paginationSubset:20:currentPage">
            {{user.name}} ({{user.rating}})
          </li>
        </ul>
      </tab>
    </tabset>
  </div>

  <div style="width: 65%; float: left">
    <tabset>
      <tab>
        <tab-heading>
          global
        </tab-heading>
        <div ng-repeat="message in messages.global">
          <span ng-if="message.type === 'it'">--&gt; {{message.user}} {{message.message}}</span>
          <span ng-if="message.type === 'shout'">{{message.user}} &gt; {{message.message}}</span>
        </div>
      </tab>

      <tab ng-repeat="channelNumber in subscribedChannels | orderByNumberString" ng-if="channels">
        <tab-heading>
          {{channelNumber}}: {{channelName(channelNumber)}}
          <a href="#" ng-click="leaveChannel(channelNumber)">x</a>
        </tab-heading>
        <div ng-if="messages.channel[channelNumber]" ng-repeat="message in messages.channel[channelNumber]">
          {{message.user}} &gt; {{message.message}}
        </div>
      </tab>
    </tabset>
  </div>
</tab>
