<tab ng-controller="LoginCtrl" ng-if="!isLoggedIn" active="tabs.login" select="changeTab('login')">
  <tab-heading>
    log in
  </tab-heading>

  <p>
    This web interface for the Free Internet Chess Server is a third party project.
    Please register at the <a href="http://www.freechess.org/Register/index.html" target="_blank">official website</a>
  </p>

  <input type="button" value="login as guest" ng-click="loginAsGuest()" ng-disabled="isLoggingIn" />

  <div>- or -</div>

  <form ng-submit="loginWithCredentials(userData, remember)">
    <input type="text" ng-model="userData.login" placeholder="login" ng-disabled="isLoggingIn" />
    <br>
    <input type="password" ng-model="userData.password" placeholder="password" ng-disabled="isLoggingIn" />

    <br>

    <label>
      <input type="checkbox" checked="checked" ng-model="remember">
      Remember Me
    </label>

    <br>
    <input type="submit" value="login with credentials" ng-disabled="isLoggingIn" />
  </form>
</tab>
