<tab ng-controller="ObservationCtrl" ng-if="isLoggedIn" active="tabs.observe.active">
  <tab-heading>
    watch
    <span class="notify" ng-if="tabs.observe.notify()">!</span>
  </tab-heading>

  <tabset>
    <tab heading="games">
      <loading-area ensure="games.length > 0">
        <pagination
          class="pagination-sm"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;"
          total-items="games.length"
          ng-model="currentPage"
          items-per-page="20"
          boundary-links="true"
          max-size="5"
          rotate="false">
        </pagination>

        <ul>
          <li ng-repeat="game in games | orderByCombinedRating | paginationSubset:20:currentPage">
            <a href="#" ng-click="watch(game.number)">
              {{ game.white.name }} ({{ game.white.rating }}) vs. {{ game.black.name }} ({{ game.black.rating }})
            </a>
          </li>
        </ul>
      </loading-area>
    </tab>

    <tab ng-repeat="game in observations" active="game.active">
      <tab-heading>
        {{ game.white.name }} v. {{ game.black.name }}
        <span class="notify" ng-if="game.notify()">!</span>
        <a href="#" ng-click="stopWatching(game.number)">x</a>
      </tab-heading>

      <div class="row observe">
        <div class="col-sm-6 col-md-5 col-lg-4">
          <board
            fen="game.metaData.position"
            white="game.white"
            black="game.black"
            move="game.metaData.current.color"
            time="game.metaData.time"
            complete="game.isComplete">
          </board>
        </div>

        <div class="col-sm-6 col-md-2 col-lg-2">
          <h4 ng-if="game.metaData.result">{{ game.metaData.result }}</h4>

          <table>
            <tbody>
              <tr ng-repeat="moves in game.moves" ng-if="game.moves">
                <th>{{ $index + 1 }}</th>
                <td>{{ moves[0] }}</td>
                <td>{{ moves[1] }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-sm-6 col-md-2 col-lg-2">
          <user-list users="game.observers | orderBy:'name'"></user-list>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-4 chat">
          <messages
            messages="game.messages"
            send="sendMessage(game.number)(mode, message)"
            allowed-modes="allowedModes"></messages>
        </div>
      </div>
    </tab>
  </tabset>
</tab>
