<tab heading="watch" ng-controller="ObservationCtrl" ng-if="isLoggedIn" active="isActive('observe')" select="changeTab('observe')">
  <tabset class="tab-container">
    <tab heading="games">
      <pagination class="pagination-sm" total-items="games.length" page="currentPage" items-per-page="20" boundary-links="true" max-size="5" rotate="false"></pagination>

      <ul ng-if="games">
        <li ng-repeat="game in games | orderByCombinedRating | paginationSubset:20:currentPage">
          <a href="#" ng-click="watch(game.number)">
            {{game.white.name}} ({{game.white.rating}}) vs. {{game.black.name}} ({{game.black.rating}})
          </a>
        </li>
      </ul>
    </tab>

    <tab ng-repeat="game in observations">
      <tab-heading>
        {{game.white.name}} v. {{game.black.name}}
        <a href="#" ng-click="stopWatching(game.number)">x</a>
      </tab-heading>

      <div class="observe">
        <div class="board-container">
          <board fen="game.metaData.position" white="game.white" black="game.black" move="game.metaData.current.color" time="game.metaData.time" complete="game.isComplete"></board>
        </div>

        <div class="moves">
          <h4 ng-if="game.metaData.result">{{game.metaData.result}}</h4>

          <table>
            <tbody>
              <tr ng-repeat="moves in game.moves" ng-if="game.moves">
                <th>{{$index + 1}}</th>
                <td>{{moves[0]}}</td>
                <td>{{moves[1]}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="chat">
          <div class="observers">
            <ul>
              <li ng-repeat="observer in game.observers | orderBy:'toString'">
                {{observer}}
              </li>
            </ul>
          </div>

          <div class="messages">
            <div ng-repeat="message in game.messages" scroll-glue>
              {{message.user}} &gt; {{message.message}}
            </div>

            <div class="message" ng-if="!isGuest">
              <textarea ng-model="game.chat.message" ui-keypress="{ 'enter': 'submitMessage(game.number, game.chat, $event)' }"  placeholder="type to chat"></textarea>
              <button class="btn btn-primary" ng-model="_" ng-click="submitMessage(game.number, game.chat)">Submit [Enter]</button>

              <div class="btn-group">
                <button class="btn btn-primary" ng-model="game.chat.mode" btn-radio="'whisper'">Whisper</button>
                <button class="btn btn-primary" ng-model="game.chat.mode" btn-radio="'kibitz'">Kibitz</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</tab>
